.calendar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.month-row {
  display: flex;
  justify-content: center;
}

.days-row {
  display: flex;
  justify-content: center;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 52px;
  height: 52px;
  top: 50%;
}

.week {
  display: flex;
  flex-direction: row;
}

.days-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
